<% include ./partial/header %>
<main role="main">
    <div>
        <ul>
            <% links.forEach((value) => { %>
                <li><a href="<%=value.href%>"><%=value.label%></a></li>
            <%}); %>
        </ul>
    </div>
</main>
<% include ./partial/footer %>