<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>camera</title>

    <script src="./js/tracking-min.js"></script>
    <script src="./js/face-min.js"></script>

    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <div class="demo-frame">
        <div class="demo-container">
            <video id="video" preload autoplay loop muted></video>
            <canvas id="canvas"></canvas>
        </div>
        <div>
            <span id="message"></span>
        </div>
    </div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="./js/canvas_squad.js"></script>
    <script src="./js/create_family_camera2.js"></script>
</body>
</html>