@charset "UTF-8";

video, canvas {
	position: absolute;
}

#video {
	width: 1920px;
	height: 1080px;
	z-index: -9999;
}
#canvas {
	width: 1920px;
	height: 1080px;
	z-index: -9999;
}
#message {
	color: red;
	font-size: 28px;
	margin-left: 70px;
	margin-top: 50px;
}