html, body {
  display: block;
  position: static;
  top: 0;
  left: 0;
}

div#target {
  width: 100% !important;
  height: auto !important;
  margin: 0 !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

canvas {
  width: 100% !important;
  height: auto !important;
}
