<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title></title>
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="//cdn.socket.io/socket.io-1.4.5.js"></script>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/index.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
</head>
<body>
  <div class="left" >
    <canvas id="canvas" height="257" ></canvas>
  </div>
  <div class="right" >
    <div class="video">

    </div>
    <div class="text">

    </div>
    <div class="events">
      <p>イベント一覧</p>
      <ul id="events">
        <li>aiue</li>
      </ul>
    </div>
    <div class="logs">
      <p>動作ログ一覧</p>
      <ul id="logs">
        <li>aiue</li>
      </ul>
    </div>
  </div>
  <script src="js/index.js"></script>

</body>
</html>
