<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style type="text/css">
        .breadcrumb {
            background-color: rgb(255, 255, 255);
        }
        .breadcrumb > li + li:before {
            content: "> ";
        }
        .breadcrumb_box {
            margin:5px;
            padding:10px, 5px, 5px, 5px;
            border:10px solid rgb(244, 244, 244);
        }
        .breadcrumb .active {
            color: rgb(214,56,99);
        }
        .position {
            color: rgb(116,116,116);
            font-size: 48px;
            font-weight: normal;
            vertical-align: top;
            padding-top: 10px;
        }
        .face{
            text-align: center;
        }
        .face_img{
            margin: 20px 25px 10px;
        }
        #send{
            background-color: rgb(214,56,99);
            color: rgb(255, 255, 255);
        }
    </style>

</head>
<body>

    <!-- top navigation -->
    <nav class="navbar navbar-dark" style="background-color:rgb(214,56,99)">
        <!-- Image and text -->
        <nav class="navbar navbar-dark" style="background-color:rgb(214,56,99)">
            <a class="navbar-brand" href="#">
                ハッピーホーム　ー プレゼン準備...家族構成
            </a>
        </nav>
    </nav>
    <!-- main -->
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb breadcrumb_box">
                        <li class="active">家族構成</li>
                        <li>シーン選択</a></li>
                        <li>プレゼン開始</a></li>
                    </ol>
                </div>
            </div>
            
            <% 
                var i = 0;
                main.forEach((value, key) => { 
            %>
                <% if (i % 2 == 0) { %>
                    <div class="row">
                <% } %>
                <div class="col-md-6">
                    <input type="hidden" name="face_id" value="<%= value.face_id %>">
                    <table>
                        <tr>
                            <th rowspan="2" class="face"><img src="../../public/images/<%= value.face_id %>.jpg" alt="" class="face_img" width="150" height="150"></th>
                            <td>
                                <select name="type" class="form-control">
                                    <option value="">-----</option>
                                    <option value="父">おとうさん</option>
                                    <option value="母">おかあさん</option>
                                    <option value="娘">むすめ</option>
                                    <option value="息子">むすこ</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                なまえ<br>
                                <input type="text" name="name" class="form-control">
                            </td>
                        </tr>
                    </table>
                </div>
                <% if (i % 2 == 1) { %>
                    </div>
                <% } %>
                    
            <%
                    i++;
                }); 
            %>
            <div class="row">
                <div class="col-md-12 text-center">
                    <input type='button' id="send" class="btn" value="送信">
                </div>
            </div>
        </div>
    </main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function() {
        $('#send').click(function() {
            var family_list = [];
            var family = {
                face_id : '',
                type : '',
                name : ''
            }
            for (var i = 0; i < $('[name=face_id]').length; i++){
                var family = {
                    face_id : $('[name=face_id]')[i].value,
                    type : $('[name=type]')[i].value,
                    name : $('[name=name]')[i].value
                }
                family_list.push(family);
            }
            console.log(JSON.stringify(family_list));
            $.ajax({
                contentType: 'application/json',
                type:'POST',
                url:'http://localhost:8080/api/family_list',
                data: JSON.stringify(family_list),
                dataType: 'json',
            })
            .done(function (response) {
                console.log('成功');
            })
            .fail(function(){
                console.log('失敗');
            });
        });
    });
</script>
</body>
</html>