<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>camera</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="./js/tracking-min.js"></script>
    <script src="./js/face-min.js"></script>
    <!--<script src="./js/canvas_squad.js"></script>-->
     <script src="./js/mirror.js"></script>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
    <style type="text/css">
        #loader-bg {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background-color: rgba(189,189,189,0.5);
        }
        #loader {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            width: 200px;
            height: 200px;
            margin-top: -100px;
            margin-left: -100px;
            text-align: center;
            color: #F06292;
            font-size: 4em !important;
            z-index: 2;
        }
        .sr {
            position: absolute;
            width: 450px;
            margin-left: -200px;
        }
    </style>
</head>
<body>
    <div id="loader-bg">
        <div id="loader">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr">画像分析中</span>
        </div>
    </div>
    <div class="demo-frame">
        <div class="demo-container">
            <video width="1280" height="960" src="" id="video" preload autoplay loop muted></video>
            <canvas id="canvas" width="1280" height="960" style="display: inline;"></canvas>
        </div>
        <button class="photo" id="photo" type="submit">撮影</button>
    </div>
    <script>
        function send(formData) {
            $.ajax({
                type: "POST",
                url: 'https://' + location.hostname + ':5000/management/portal/post_create_family?id=1',
                data: formData,
                contentType: false,
                processData: false,
                cache: false,
            }).then(function() {
                    location.href = "<%= url %>";
            });
        }
    </script>
    <script src="./js/photo.js"></script>
</body>
</html>