<% include ./header %>
<style type="text/css">

    * {margin: 0; padding: 0;}

    .tree ul {
        padding-top: 20px;
        position: relative;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }

    .tree ul li a {
        width: 500px;
    }

    .tree li {
        float: left; text-align: center;
        list-style-type: none;
        position: relative;
        /*padding: 20px 5px 0 5px;*/

        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }

    /*We will use ::before and ::after to draw the connectors*/

    .tree li::before, .tree li::after{
        content: '';
        position: absolute; top: 0; right: 50%;
        border-top: 1px solid #ccc;
        width: 50%; height: 20px;
    }
    .tree li::after{
        right: auto; left: 50%;
        border-left: 1px solid #ccc;
    }

    /*We need to remove left-right connectors from elements without
    any siblings*/
    .tree li:only-child::after, .tree li:only-child::before {
        display: none;
    }

    /*Remove space from the top of single children*/
    .tree li:only-child{ padding-top: 0;}

    /*Remove left connector from first child and
    right connector from last child*/
    .tree li:first-child::before, .tree li:last-child::after{
        border: 0 none;
    }
    /*Adding back the vertical connector to the last nodes*/
    .tree li:last-child::before{
        border-right: 1px solid #ccc;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
    }
    .tree li:first-child::after{
        border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
    }

    /*Time to add downward connectors from parents*/
    .tree ul ul::before{
        content: '';
        position: absolute; top: 0; left: 50%;
        border-left: 1px solid #ccc;
        width: 0; height: 20px;
    }

    .tree li a{
        border: 1px solid #ccc;
        padding: 5px 10px;
        text-decoration: none;
        color: #666;
        font-family: arial, verdana, tahoma;
        font-size: 35px;
        display: inline-block;

        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;

        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }

    /*Time for some hover effects*/
    /*We will apply the hover effect the the lineage of the element also*/
    .tree li a:hover, .tree li a:hover+ul li a {
        background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
    }
    /*Connector styles on hover*/
    .tree li a:hover+ul li::after,
    .tree li a:hover+ul li::before,
    .tree li a:hover+ul::before,
    .tree li a:hover+ul ul::before{
        border-color:  #94a0b4;
    }
    /*この上触らない*/
    main {
        overflow: hidden;
        height: 1040px;
        padding: 15px;
    }
    .row {
        width: 50%;
        height:100%;
        /*background-color: #0c8da0;*/
        float: left;
        border: solid 1px #000;
        margin-right: 20px;
        position: relative;
    }
    .inner {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        height: 600px;
        width: 510px;
        /*background-color: #0e6471;*/
    }
    #description {
        /*overflow: hidden;*/
        display: block;
        float: left;
        /*height: 1200px;*/
        width: 48.5%;
    }

    .content {
        width: 100%;
        height: 500px;
        background-color: #0e6471;
        margin-bottom: 30px;
    }

    .text {
        width: 97%;
        /*background-color: #00d4b4;*/
        height: 420px;
        margin-left: 15px;
    }

    .text h3 {
        font-size: 230%;
        margin-bottom: 10px;
    }

    .text p{
        font-size: 190%;
    }

    .button a{
        display: block;
        border-radius: 5px;
        border-bottom: 1px solid #627ce3;
        width: 80%;
        font-size: 160%;
        padding: 10px;
        background: #405dca;
        color: #fff;
        text-align: center;
        text-decoration: none;
        margin:0 auto;
    }
    .button a:hover{
        margin: auto;
        text-decoration: none;
        background: #364ea5;
    }


    /*Thats all. I hope you enjoyed it.
    Thanks :)*/
    <% if (typeof id != 'undefined'){ %>
    #<%= id %> {
        background-color: #FF5296;
    }
    <% } %>
</style>
<main role="main" class="container" >

    <div class="row">
        <div class="inner">
            <div class="col align-self-start">
                <div class="tree">
                    <ul id="ul_tree">
                        <li id="ul_tree_li">
                            <a href="./?id=0" id="clean">クリーン処理</a>
                            <ul>
                                <li>
                                    <a href="./?id=1" id="create_family_preparation">家族作成前準備</a>
                                    <ul>
                                        <li>
                                            <a href="./?id=2" id="create_family">家族作成</a>
                                            <ul>
                                                <li>
                                                    <a href="./scene/choice" id="choice">シーン選択へ</a>
                                                    <ul>
                                                        <li>
                                                            <a href="./scene" id="each_scene">各シーンへ</a>

                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="description">
        <div class="content">

        </div>
        <div class="text">
            <h3 id="next">はじめは</h3>
            <p id="portalController">
                <% if (typeof sentence != 'undefined') { %>
                    <%= sentence %>
                <% } else { %>
                    プレゼンテーションの準備を行います
                <% } %>
            </p>
        </div>
        <div class="button">
            <% if (typeof next_btn_href != 'undefined') { %>
            <a class="btn btn-primary" href="<%= next_btn_href %>" role="button" id="next_btn">
                    <% }else { %>
                <a class="btn btn-primary" href="./?id=0" role="button" id="next_btn">
                    <% } %>
            <% if (typeof next_btn != 'undefined') { %>
                <%= next_btn %>
            <% } else { %>
                次のステージに進みます。
            <% } %>

            </a>
        </div>
    </div>
</main>
<% include ./footer %>