<form method="post" action="./scene/choice">
    <input type="hidden" value="0" name="type">
    <input type="submit" value="家族シーン">
    <span class="gray">家族全員がいる一日</span>
</form>
<form method="post" action="./scene/choice">
    <input type="hidden" value="1" name="type">
    <input type="submit" value="留守シーン">
    <span class="gray">お父さん以外が、３が日で帰郷している一日</span>
</form>